<!-- Basic Form -->

<h1>Form Control Resolver Parameters</h1>

<div fxLayout="row" fxLayoutGap="24px">

  <!-- Message Form Group -->
  <mat-card fxFlex>
    <mat-card-title>Message Form Group</mat-card-title>
    <mat-card-content>
      <form [formGroup]="messageFormGroup" fxLayout="column">

        <mat-form-field>
          <textarea formControlName="message" matInput placeholder="Leave a message"></textarea>
        </mat-form-field>
        
      </form>
    </mat-card-content>
  </mat-card>

  <!-- Current Resolved Message -->
  <mat-card fxFlex>
    <mat-card-title>Current Resolved Message</mat-card-title>
    <mat-card-content>
      <pre [innerHtml]="currentMessage | prettyjson:3"></pre>
    </mat-card-content>
  </mat-card>

</div>