
:host {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: stretch flex-start;
    align-items: stretch;
    flex: 1 1 0%;
}

::ng-deep {
    .mat-tab-body {
        overflow: hidden !important;
        padding-bottom: 48px;
    } 
    
    .mat-tab-body-content {
        padding: 24px;
        overflow: hidden;
    }

    .mat-tab-body-wrapper {
        height: 100%;
    }
}