<h1>Custom Form Control Resolver Example</h1>


<div fxLayout="column" fxLayoutGap="24px">

  <!-- Form Card -->
  <mat-card fxFlex>
    <mat-card-title>Car Form Group</mat-card-title>
    <mat-card-content>
      <form [formGroup]="fooFormGroup" fxLayout="column">

        <mat-form-field>
          <input formControlName="foo" matInput placeholder="Foo">
        </mat-form-field>

        <mat-form-field>
          <input formControlName="bar" matInput placeholder="Bar">
        </mat-form-field>

        <mat-form-field>
          <input formControlName="baz" matInput placeholder="Baz">
        </mat-form-field>
        
      </form>
    </mat-card-content>
  </mat-card>

  <div fxLayout="row" fxLayoutGap="24px">

    <!-- Actions Card -->
    <mat-card fxFlex>
        <mat-card-title>Actions</mat-card-title>
        <mat-card-content fxLayout="row" fxLayoutGap="12px">
            <button fxFlex mat-raised-button color="primary" (click)="setFormState()">
              Set Form State
            </button>
            <button fxFlex mat-raised-button color="primary" (click)="clearFormState()">
              Clear Form State
            </button>
        </mat-card-content>
      </mat-card>

    <!-- Result Card-->
    <mat-card fxFlex>
      <mat-card-title>Current Resolved FooBarBaz Object</mat-card-title>
      <mat-card-content>
        <pre [innerHtml]="currentFoo | prettyjson:3"></pre>
      </mat-card-content>
    </mat-card>

  </div>

  <!-- Code Viewer -->
  <div fxLayout="row" fxLayoutGap="24px">
    <mat-card fxFlex [style.padding]="0">
      <mat-tab-group>
      
        <mat-tab label="TS">
          <prism language="typescript" [code]="sourceComponent$ | async"></prism>
        </mat-tab>

        <mat-tab label="Resolvers">
          <prism language="typescript" [code]="sourceResolvers$ | async"></prism>
        </mat-tab>

        <mat-tab label="HTML">
          <prism language="html" [code]="sourceTemplate$ | async"></prism>
        </mat-tab>
      
      </mat-tab-group>
    </mat-card>
  </div>

</div>
