<!-- Basic Form -->

<h1>Custom Form Control Resolver</h1>


<div fxLayout="column" fxLayoutGap="24px">

  <!-- Foo Form Group -->
  <mat-card fxFlex>
    <mat-card-title>Car Form Group</mat-card-title>
    <mat-card-content>
      <form [formGroup]="fooFormGroup" fxLayout="column">

        <mat-form-field>
          <input formControlName="foo" matInput placeholder="Foo">
        </mat-form-field>

        <mat-form-field>
          <input formControlName="bar" matInput placeholder="Bar">
        </mat-form-field>

        <mat-form-field>
          <input formControlName="baz" matInput placeholder="Baz">
        </mat-form-field>
        
      </form>
    </mat-card-content>
  </mat-card>

  <div fxLayout="row" fxLayoutGap="24px">

    <!-- Actions -->
    <mat-card fxFlex>
        <mat-card-title>Actions</mat-card-title>
        <mat-card-content fxLayout="row" fxLayoutGap="12px">
            <button fxFlex mat-raised-button color="primary" (click)="setFormState()">
              Set Form State
            </button>
            <button fxFlex mat-raised-button color="primary" (click)="clearFormState()">
              Clear Form State
            </button>
        </mat-card-content>
      </mat-card>

    <!-- Current Resolved FooBarBaz -->
    <mat-card fxFlex>
      <mat-card-title>Current Resolved FooBarBaz Object</mat-card-title>
      <mat-card-content>
        <pre [innerHtml]="currentFoo | prettyjson:3"></pre>
      </mat-card-content>
    </mat-card>

  </div>

</div>
