/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'assets/css/prism-okaidia';

html, body {
    font-family: Roboto;
    background: #fafafa;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.pad {
    padding: 24px;
}

pre span {white-space: normal;}
    .string { color: green; }
    .number { color: darkorange; }
    .boolean { color: blue; }
    .null { color: magenta; }
    .key { color: red; }